<div>
    <div>  STWÓRZ SĘDZIEGO </div>

    <label>Podaj nazwisko sędziego: </label>
    <input type="text" ng-model="model.newJudge.surname" /></br>
    <label>Podaj imię sędziego: </label>
    <input type="text" ng-model="model.newJudge.name" /></br>
    <label>Podaj miasto sędziego: </label>
    <input type="text" ng-model="model.newJudge.city" /></br>
    <label>Podaj kraj sędziego:: [po angielsku]</label>
    <input type="text" ng-model="model.newJudge.country" /></br>
    <button class="btn btn-default" ng-click="model.addJudge()">Dodaj sędziego</button>
</div>

