<div>
    <label>Dodaj parę do Turnieju</label></br>

    <input type="text" id="couple" list="couples" placeholder="Podaj parę" ng-model="model.newTournamentCouple.id" style="width: 500px;" >

    <datalist id="couples">
        <option ng-repeat="couple in model.couples" >
            {{couple.male}} {{couple.female}}, {{couple.club}}, Id:{{couple.id}}</option>
    </datalist>
    </br>
    <label>Podaj numer startowy: </label>
    <input type="text" ng-model="model.newTournamentCouple.startNumber" /></br>

    <!---->
    <!--<label>Podaj Klub (jeszcze nie działa): </label></br>-->
    <!--<input type="text" ng-model="model.newCouple.club" placeholder="Klub" style="width: 500px;">-->


    <!--<select class="form-control"  >-->

        <!--<option ng-repeat="maleDancer in model.dancers | filter: { male: 'true' }" >-->
            <!--{{maleDancer.id}}, {{maleDancer.surname}} {{maleDancer.name}}</option>-->
    <!--</select>-->

    <!--<select class="form-control" >-->
        <!--<option ng-repeat="femaleDancer in model.dancers | filter: { male: 'false' }" >-->
            <!--{{femaleDancer.id}}, {{femaleDancer.surname}} {{femaleDancer.name}}</option>-->
    <!--</select>-->

    <button class="btn btn-default" ng-click="model.addTournamentCouple()">Dodaj parę</button>
</div>

