<nav class="navbar navbar-default navbar-inverse" class="container-fluid">
    <div class="container-fluid">

        <ul class="nav navbar-nav navbar-left">

                <table style="width:150%" border="1px solid black" >
                    <tr align="center" style="color:silver">
                        <td><a ng-link="['TournamentCoupleList']"><b>Start List</b></a></td>
                        <td><a ng-link="['CreateTournamentCouple']"><b>Add Couple</b></a></td>
                        <td><a ng-link="['TournamentJudgeList']"><b>Judge List</b></a></td>
                        <td><a ng-link="['CreateTournamentJudge']"><b>Add Judge</b></a></td>
                        <td><a ng-link="['TournamentRound']"><b>Add Rate</b></a></td>
                        <td><a ng-link="['TournamentResultList']"><b>Round/Final Result</b></a></td>

                    </tr>

                </table>
        </ul>
    </div>
</nav>

<div class="container">




    <ng-outlet></ng-outlet>

</div>
